
*,
*::before,
*::after {
    box-sizing: border-box;
} 

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}


html {
  height: 100%;
}

body {
  position: relative;
  display: grid;
  justify-items: center;
  min-width: 800px;
  height: 100%;
  font-family: Raleway, sans-serif;
}

body::before {
  content: '';
  z-index: 1;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 0.3);
}

.page__heading {
  z-index: 1;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 739px;
  padding-top: 60px;
  color: #000;
  font-weight: 800;
  font-size: 116px;
  line-height: normal;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
}

.page__heading::after {
  content: '*';
}

.page__heading:hover {
  color: #4c4c4c;
}

.page__heading:hover::before {
  content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
  position: absolute;
  top: 180px;
  right: 22px;
  width: 742px;
  height: 142px;
  border: 2px solid currentColor;
  border-radius: 20px;
  padding: 36px 44px;
  box-shadow: 0 14px currentColor;
  color: #000;
  font-family: 'Raleway', sans-serif; 
  font-weight: 400;
  font-size: 35px;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  text-transform: none;
  background-color: #fff;
  white-space: pre;
}

.video {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: none;
}